<?xml version="1.0" encoding="ISO-8859-1"?>
    
<web-app>
  <servlet>
    <servlet-name>PokerClientResponse</servlet-name>
    <servlet-class>com.poker.PokerClientResponse
      </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PokerClientResponse</servlet-name>
    <url-pattern>/response/PokerClientResponse</url-pattern>
  </servlet-mapping>
</web-app>
   